.node {
	cursor: pointer;
}

.node > text {
	fill: #aaa;
}

.link {
    fill: none;
    stroke: #333;
    stroke-width: 1px;
    opacity: .7;
    marker-end: url(#arrow);
}

.link.active-by {
    fill: none;
    stroke: blue;
    stroke-width: 1px;
    opacity: .5;
    marker-end: url(#arrow-active-by);
}

.link.active-to {
    fill: none;
    stroke: red;
    stroke-width: 1px;
    opacity: .5;
    marker-end: url(#arrow-active-to);
}

marker#arrow-active-by {
    fill: none;
    stroke: blue;
    stroke-width: 1px;
}

marker#arrow-active-to {
    fill: none;
    stroke: red;
    stroke-width: 1px;
}

.linklabelholder > text.linklabel {
	font-size: 9px;
	fill: none;
}

.linklabelholder.active > text.linklabel {
	fill: #333;
}